/* main */ 

.sitio-principal{
    background-color:$light-color;
    display: flex;
    width: 100%;
 
    img{
        @include flex(center,center);
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contenido{
        display: inline-block;
        width: 49%;
        padding: 50px;
        position:relative;
        bottom: 300%;
    }

    h1{
        font-size: 50px;
        font-weight: bold;
        color: #191919;
        margin: 20px 0;
        text-align: center;
    }

    .dm{
        background-image: url(../assets/tanjiro2.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px;
        text-align: center;
        color: #eee;
        font-size: 34px;
    }

}

.videos-inicio{
    display: flex;
    justify-content: space-around;
    background-color:$light-color;

    .primer-video iframe{
        width: 500px;
        height: 300px;
        margin-top: 30px;
    }
    
    .segundo-video iframe{
        width: 500px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}




