/* main */ 

.sitio-principal{
    background-color:$light-color;
    display: flex;
    width: 100vw;
    height: 500px;
}

.titular-index{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}

.sitio-principal img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.titular-index{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
}

.parrafo-index{
    align-items: center;
    font-size: 23px;
    margin: 5%;
    font-size: 20px;
}

.videos-inicio{
    display: flex;
    justify-content: space-around;
    background-color:$light-color;

    .primer-video iframe{
        width: 500px;
        height: 300px;
        margin-top: 30px;
    }
    
    .segundo-video iframe{
        width: 500px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
