/* main */ 

.banner-index{
    width: 100%;
}

.sitio-principal{
    background-color:$light-color;
    display: flex;
    width: 100%;
    height: 500px;
    img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    &:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    }
    }
    }

.titular-index{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
}
.parrafo-index{
    align-items: center;
    font-size: 23px;
    margin: 5%;
    font-size: 20px;
}

.videos-inicio{
    display: flex;
    justify-content: space-around;
    background-color:$light-color;
    margin-bottom: 5%;

    .primer-video iframe{
        width: 500px;
        height: 300px;
    }
    
    .segundo-video iframe{
        width: 500px;
        height: 300px;
    }
}
