/* MEDIA QUERIES TABLET*/

@media screen and (max-width: 768px){

    /* header */
    
    header{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-brand{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    
    .nav-item{
        display: flex;
        flex-direction: column;
    }
    
    .container-fluid{
        display: flex;
    }

        /* index */

    .videos-inicio{
        flex-direction: column;
        align-items: center;
    }

        /* biografia */

   .inicio-logo{
    display: flex;
    flex-direction: column;
   }
    
    .inicio-logo img{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        margin: 5%;
    }

    .inicio-parrafo{
        flex-direction: column;
        text-align: center;
        font-size: 23px;
    }

    .titular1{
        text-align: center;
        flex-direction: column;
    }

    .container-pilares{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titular2{
        flex-direction: column;
    }
    .container-expilares{
        flex-direction: column;
        align-items: center;
    }

    .titular3{
        flex-direction: column;
    }
    .container-cazadores{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img{
        width: 100%;
    }

    .card-body{
        width: 100%;
    }
}

/* MEDIA QUERIES MOBILE*/

@media screen and (max-width: 576px){

    /* header */
    
    header{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-brand{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    
    .nav-item{
        display: flex;
        flex-direction: column;
    }
    
    .container-fluid{
        display: flex;
    }
    
    /* index */

    .banner-index img{
        width: 100%;
        height: 100%;
    }

    .sitio-principal{
        flex-direction: row;
    }

    .sitio-principal img{
        height: 100%;
        width: 1%;
        display: flex;
    }
    
    .titular-index{
        flex-direction: column;
        text-align: center;
        font-size: 18px;
    }

    .parrafo-index{
        flex-direction: column;
        font-size: 18px;
    }

    .videos-inicio{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    /* galeria */
    
    .galeria-container{
        grid-template-columns: 1fr;
        margin: 5%;
        width: 100%;
        align-items: center;
    }
    
    /* biografia */

   .inicio-logo{
    display: flex;
    flex-direction: column;
   }
    
    .inicio-logo img{
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin: 5%;
    }

    .inicio-parrafo{
        flex-direction: column;
        text-align: center;
        font-size: 23px;
    }

    .titular1{
        text-align: center;
        flex-direction: column;
    }

    .container-pilares{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titular2{
        flex-direction: column;
    }
    .container-expilares{
        flex-direction: column;
        align-items: center;
    }

    .titular3{
        flex-direction: column;
    }
    .container-cazadores{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img{
        width: 100%;
    }

    .card-body{
        width: 100%;
    }
    
    /* doce lunas */

    .docelunas-container{
        flex-direction: column;
        width: 100%;
    }

    /* recomendaciones */

    .mangas-titular{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-mangas{
        grid-template-columns: 1fr;
    }

    /* contacto */
    
    .formulario{
        flex-direction: column;
        align-items: center;
    }

    /* footer */
    
    footer{
        margin-top: 30%;
        
        .bajada-footer ul a{
            flex-direction: column;
            justify-content: center;
            
            .logo-footer{
                flex-direction: column;
            }
        }
    }

}