/* MEDIA QUERIES MOBILE*/

@media screen and (max-width: 576px){

    /* index */
    
    header{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-brand{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    
    .nav-item{
        display: flex;
        flex-direction: column;
    }
    
    .container-fluid{
        display: flex;
    }
    
    .contenido{
        width: 100%;
    }
    
    .sitio-principal{
        flex-direction: column;
        align-items: center; 
        text-align: center;
        font-size: 13px;
    }
    .sitio-principal img{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .videos-inicio{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    
    /* galeria */
    
    .galeria-container{
        grid-template-columns: 1fr;
    }
    
    /* biografia */
    
    .article-conteiner1{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .article-conteiner2{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .article-conteiner3{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .article-conteiner4{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    /* doce lunas */

    .docelunas-container{
        flex-direction: column;
        width: 100%;
    }

    /* recomendaciones */

    .cards-body{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .cards-body img{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .titulo-manga1{
        text-align: center;
        font-size: 16px;
    }

    .parrafo-manga1{
        text-align: center;
        font-size: 13px;
    }

    .titulo-manga2{
        text-align: center;
        font-size: 16px;
    }

    .parrafo-manga2{
        text-align: center;
        font-size: 13px;
    }

    .titulo-manga3{
        text-align: center;
        font-size: 16px;
    }

    .parrafo-manga3{
        text-align: center;
        font-size: 13px;
    }

    .titulo-manga4{
        text-align: center;
        font-size: 16px;
    }

    .parrafo-manga4{
        text-align: center;
        font-size: 13px;
    }


    /* contacto */
    
    .formulario{
        flex-direction: column;
        align-items: center;
    }

        /* footer */
    
        .bajada-footer ul{
            display: flex;
            text-align: center;
    }

    .imagen-fondo{
        flex-direction: column;
        width: 50%;
        height: 50%;
    }

}