@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* menu nav */
header {
  display: flex;
  width: 100%;
  background-color: black;
}
header img {
  width: 12%;
  display: flex;
}
header .container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .container-fluid .navbar-nav {
  width: 100%;
  justify-content: end;
  display: flex;
}
header .container-fluid .navbar-nav li {
  display: flex;
  font-size: 19px;
  font-weight: bold;
  justify-content: center;
}
header .container-fluid .navbar-nav .nav-link {
  color: white;
}

/* body */
body {
  background-color: antiquewhite;
}

/* galeria */
.main-galeria {
  background-color: antiquewhite;
}
.main-galeria .galeria-titulo {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  margin: 5%;
  transition: 0.6s;
}
.galeria-container img {
  width: 90%;
  height: 90%;
  padding: 2%;
}

/* biografia */
.main-biografia {
  background-color: antiquewhite;
}
.main-biografia .biografia-titulo {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
}
.main-biografia .inicio-logo {
  display: flex;
  margin-top: 5%;
}
.main-biografia .inicio-logo img {
  width: 23%;
  height: 23%;
  margin: 4%;
}
.main-biografia .inicio-logo img .inicio-parrafo {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card {
  background-color: black;
  border: solid 1px rgb(82, 22, 22);
  margin: 1%;
}

.card-title, .card-text {
  color: white;
  text-align: center;
}

.btn-primary {
  background-color: red;
  border: solid 1px black;
  display: block;
}

.titular1, .titular3 {
  text-align: center;
  font-size: 25px;
  margin-top: 3%;
}

.container-pilares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  margin: 7%;
}

.titular2 {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
}

.container-expilares {
  display: flex;
  padding: 2%;
}

.container-cazadores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  margin: 7%;
}

/* doce lunas */
.docelunas-container {
  background-color: antiquewhite;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.docelunas-titulo1 {
  text-align: center;
  font-size: 25px;
}

.docelunas-parrafo1 {
  text-align: center;
  font-size: 18px;
  margin: 5%;
}

.docelunas-titulo2 {
  text-align: center;
  font-size: 25px;
}

.docelunas-parrafo2 {
  text-align: center;
  font-size: 18px;
  margin: 5%;
}

.docelunas-titulo3 {
  text-align: center;
  font-size: 25px;
}

.docelunas-parrafo3 {
  text-align: center;
  font-size: 18px;
  margin: 5%;
}

.docelunas-titulo4 {
  text-align: center;
  font-size: 25px;
}

.docelunas-parrafo4 {
  text-align: center;
  font-size: 18px;
  margin: 5%;
}

/* recomendaciones */
.mangas-titular {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
}

.container-mangas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

/* contacto */
.body-contacto {
  background-image: linear-gradient(to bottom, rgb(237, 197, 197), rgb(30, 29, 29));
}

.main-contacto {
  /*background-image: linear-gradient(to bottom, rgb(237, 197, 197), rgb(30, 29, 29));*/
}
.main-contacto .titular {
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
}
.main-contacto .formulario {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: bold;
  color: white;
}
.main-contacto .formulario .contenedor-form {
  width: 50%;
  height: 50%;
  justify-content: center;
  margin-top: 30px;
}
.main-contacto .formulario .contenedor-form .form-control {
  border: solid black;
}

/* footer */
footer {
  background-color: #191919;
  padding: 50px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  position: sticky;
  top: 0;
}
footer ul {
  margin-inline-start: 20%;
  justify-content: center;
  color: white;
  align-items: flex-end;
}
footer ul:hover {
  color: rgb(134, 62, 62);
  transition: 2s;
}
footer ul:hover a {
  display: inline;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

.logo-footer {
  display: inline;
}
.logo-footer img {
  width: 30%;
  height: 30%;
}

/* main */
.banner-index img {
  width: 100vw;
}

.sitio-principal {
  background-color: antiquewhite;
  display: flex;
  width: 100%;
  height: 500px;
}
.sitio-principal img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.sitio-principal img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.titular-index {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  font-size: 30px;
}

.parrafo-index {
  align-items: center;
  font-size: 23px;
  margin: 5%;
  font-size: 20px;
}

.videos-inicio {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  margin-bottom: 5%;
}
.videos-inicio .primer-video iframe {
  width: 500px;
  height: 300px;
}
.videos-inicio .segundo-video iframe {
  width: 500px;
  height: 300px;
}

/* MEDIA QUERIES TABLET*/
@media screen and (max-width: 768px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
  }
  .navbar-brand {
    display: flex;
    flex-direction: column;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
  }
  .container-fluid {
    display: flex;
  }
  /* index */
  .videos-inicio {
    flex-direction: column;
    align-items: center;
  }
  /* biografia */
  .inicio-logo {
    display: flex;
    flex-direction: column;
  }
  .inicio-logo img {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 5%;
  }
  .inicio-parrafo {
    flex-direction: column;
    text-align: center;
    font-size: 23px;
  }
  .titular1, .titular3 {
    text-align: center;
    flex-direction: column;
  }
  .container-pilares {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titular2 {
    flex-direction: column;
  }
  .container-expilares {
    flex-direction: column;
    align-items: center;
  }
  .titular3 {
    flex-direction: column;
  }
  .container-cazadores {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card img {
    width: 100%;
  }
  .card-body {
    width: 100%;
  }
}
/* MEDIA QUERIES MOBILE*/
@media screen and (max-width: 576px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
  }
  .navbar-brand {
    display: flex;
    flex-direction: column;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    display: flex;
    flex-direction: column;
  }
  .container-fluid {
    display: flex;
  }
  /* index */
  .sitio-principal {
    flex-direction: row;
  }
  .sitio-principal img {
    height: 100%;
    width: 1%;
    display: flex;
  }
  .titular-index {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
  }
  .parrafo-index {
    flex-direction: column;
    font-size: 18px;
  }
  .videos-inicio {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* galeria */
  .galeria-container {
    grid-template-columns: 1fr;
    margin: 5%;
    width: 100%;
    align-items: center;
  }
  /* biografia */
  .inicio-logo {
    display: flex;
    flex-direction: column;
  }
  .inicio-logo img {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: 5%;
  }
  .inicio-parrafo {
    flex-direction: column;
    text-align: center;
    font-size: 23px;
  }
  .titular1, .titular3 {
    text-align: center;
    flex-direction: column;
  }
  .container-pilares {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titular2 {
    flex-direction: column;
  }
  .container-expilares {
    flex-direction: column;
    align-items: center;
  }
  .titular3 {
    flex-direction: column;
  }
  .container-cazadores {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card img {
    width: 100%;
  }
  .card-body {
    width: 100%;
  }
  /* doce lunas */
  .docelunas-container {
    flex-direction: column;
    width: 100%;
  }
  /* recomendaciones */
  .mangas-titular {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-mangas {
    grid-template-columns: 1fr;
  }
  /* contacto */
  .formulario {
    flex-direction: column;
    align-items: center;
  }
  /* footer */
  footer {
    margin-top: 30%;
  }
  footer .bajada-footer ul a {
    flex-direction: column;
    justify-content: center;
  }
  footer .bajada-footer ul a .logo-footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
