/* biografia */

.main-biografia{
    background-color: $light-color;
}

.inicio-logo{
    display: flex;
    margin-top: 5%;

img{
    width: 23%;
    height: 23%;
    margin: 4%;
}

.inicio-parrafo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
}

.card{
    background-color: black;
    border: solid 1px rgb(82, 22, 22);
}

.card-title{
    color: white;
    text-align: center;
}

.card-text{
    color: white;
    text-align: center;
}

.btn-primary{
    background-color: red;
    border: solid 1px black;
    display: block;
}

.biografia-titulo{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}

.titular1{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}

.container-pilares{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    margin: 7%;
}

.titular2{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}

.container-expilares{
    display: flex;
    padding:  2%;
}

.titular3{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}

.container-cazadores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    margin: 5%;
}