/* biografia */

.main-biografia{
    background-color: $light-color;
}

.inicio-logo{
    display: flex;
    margin-top: 5%;

img{
    width: 23%;
    height: 23%;
    margin: 4%;
}

.inicio-parrafo{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
}
}

.titular1{
    text-align: center;
    font-size: 15px;
}

.container-pilares{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    margin: 7%;
}

.titular2{
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-expilares{
    display: flex;
    margin: 2%;
}

.titular3{
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-cazadores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
    margin: 5%;
}