/* contacto */

.main-contacto{
    background-color: $light-color;
}

.titular{
    text-align: center;
    font-size: 30px;
}

.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .contenedor-form{
        width: 50%;
        height: 50%;
        justify-content: center;
        margin-top: 30px;
    }
}


