/* doce lunas */

.docelunas-container{
    background-color: $light-color;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.docelunas-titulo1{
    text-align: center;
    font-size: 25px;
    color: white;
}

.border-success{
    background-color: black;
    height: 50%;
}

.docelunas-parrafo1{
    text-align: center;
    font-size: 18px;
    margin: 5%;
}

.docelunas-titulo2{
    text-align: center;
    font-size: 25px;
}

.docelunas-parrafo2{
    text-align: center;
    font-size: 18px;
    margin: 5%;
}

.docelunas-titulo3{
    text-align: center;
    font-size: 25px;
}

.docelunas-parrafo3{
    text-align: center;
    font-size: 18px;
    margin: 5%;
}

.docelunas-titulo4{
    text-align: center;
    font-size: 25px;
}

.docelunas-parrafo4{
    text-align: center;
    font-size: 18px;
    margin: 5%;
}
