
/* footer */

footer {
    background-color: $main-color;
    padding: 50px;
    display: flex;
    font-weight: bold;
    justify-content: center;

    ul a{
        display: inline;
        border: 1px solid $light-color;
        padding: 5px;
        margin: 5px;
        font-size: 10px;
        font-weight: bold;
    }
}