
/* footer */

footer {
    background-color: $main-color;
    padding: 50px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    

    ul a{
        display: inline;
        padding: 5px;
        margin: 5px;
        font-weight: bold;
    }

    .bajada-footer ul{
        color:white;
    } 
}