
/* footer */

footer {
    background-color: $main-color;
    padding: 50px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    position: sticky;
    top: 0;

    ul{
        color:white;
        align-items: flex-end;
        &:hover{
            transition: .5s ease;
        a{
            display: inline;
            padding: 5px;
            margin: 5px;
            font-weight: bold;
        }    
        }
    } 
}

.logo-footer{
    display: inline;

    img{
        width: 30%;
        height: 30%;
    }
}
