/* menu nav */ 

header{
    display: flex;
    width: 100%;
    background-color: black;

    img{
        width: 12%;
        display: flex;
    }

    .container-fluid{
        width: 100%;
        display: flex;
        justify-content: center;

        .navbar-nav{
            width: 100%;
            justify-content: end;
            display: flex;

            li{
                display: flex;
                font-size: 19px;
                font-weight: bold;
                justify-content: center;

            }

            .nav-link{
                color: white;
            }

        }
    }
}
